body {
    font-family: Inter, sans-serif;
}

.grid-container {
    max-width: 800px;              /* Фиксированная ширина контейнера */
    margin: 0 auto;            /* Центрируем контейнер по горизонтали */
    padding: 20px;             /* Добавляем отступы внутри контейнера (по желанию) */
}

#game-container {
    display: grid;
    width: fit-content;
    gap: 6px;
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.field {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: lightgray;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    color: white;*/
/*}*/


.field {
    width: 30px;
    height: 30px;

    /* Обычная тень */
    background: #e0e5ec;
    border-radius: 3px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    font-weight: 600;
    transition: all 0.3s ease;
}

.field:not(.active):hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}

.field.active {
    background-color: #bababa; /* Серый фон */
    /*background-color: #fff;*/
    box-shadow: none; /* Убираем тень */
    transform: scale(0.98); /* Легкое уменьшение */
}


.game-board {
    display: flex;
    justify-content: center;
}


/*[data-value="X"] { color: red; }*/
/*[data-value="0"] { color: grey; }*/
/*[data-value="1"] { color: blue; }*/
/*[data-value="2"] { color: green; }*/
/*[data-value="3"] { color: red; }*/
/*[data-value="4"] { color: darkblue; }*/
/*[data-value="5"] { color: maroon; }*/
/*[data-value="6"] { color: pink; }*/
/*[data-value="7"] { color: orange; }*/

/*.field[data-value="1"] {*/
/*    background-color: peachpuff;*/
/*}*/